<div class="container my-5">
  <div class="p-5 text-center bg-light rounded-3 mb-4">
    <% unless params[:term] %>
      <h3>Últimas perguntas cadastradas...</h3>
    <% else %>
      <h3><%= "Resultados  para o termo \"#{params[:term]}\"..."%></h3>
    <% end %>
  </div>
</div>
<% @questions.each do |question| %>
  <%= form_with url: site_answer_path, local: true do |form| %>
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="card-title"><%= question.description %></h3>
      </div>
      <div class="card-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style:none;" >
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer_id', answer.id %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
          <% end %>
          <li style="list-style:none;">
            <%= form.submit "Responder", class:"btn btn-default", data: { turbo: false } %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
<div class="d-flex justify-content-center">
  <%= paginate @questions %>
</div>
