<h1>EDITANDO</h1>
<% if @admin.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <% @admin.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<%= form_with(model: [ :admins_backoffice, @admin ], local: true, turbo: false) do |form| %>
  <div class="mb-3">
    <%= form.label :email, class:"form-label"  %>
    <%= form.text_field :email, class:"form-control", placeholder:"Email do administrador"  %>
  </div>
  <div class="mb-3">
    <%= form.label :password, class:"form-label"  %>
    <%= form.text_field :password, class:"form-control", placeholder:"Email do administrador"  %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation, class:"form-label"  %>
    <%= form.text_field :password_confirmation, class:"form-control", placeholder:"Email do administrador"  %>
  </div>
  <button type="submit" class="btn btn-primary" data-turbo="false">Submit</button>
<% end %>
