<h1>EDITANDO</h1>
# <%= @admin.inspect %>
<%= form_with(model: [ :admins_backoffice, @admin ], local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :email, class:"form-label"  %>
    <%= form.text_field :email, class:"form-control", placeholder:"Email do administrador"  %>
  </div>
  <div class="mb-3">
    <%= form.label :password, class:"form-label"  %>
    <%= form.text_field :password, class:"form-control", placeholder:"Email do administrador"  %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation, class:"form-label"  %>
    <%= form.text_field :password_confirmation, class:"form-control", placeholder:"Email do administrador"  %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>