<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN - BACKOFFICE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="p-3 border-bottom text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary text-white">Overview</a></li>
          </ul>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          </form>
          <div class="dropdown text-end">
            <a href="#" class="d-block text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
              <%= current_admin.email %>
            </a>
            <ul class="dropdown-menu text-small text-bg-dark">
              <%= link_to destroy_admin_session_path, class: "dropdown-item link-secondary text-white d-flex align-items-center justify-content-between",  data: { "turbo-method": :delete } do %>
                Sair <i class="fa-solid fa-right-from-bracket"></i>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class='d-flex height-backoffice-container'>
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Backoffice Administrativo</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <%= link_to admins_backoffice_welcome_index_path, class:"nav-link link-secondary text-white" do %>
              <i class="fa-solid fa-gauge"></i>
              Dashboard
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admins_backoffice_admins_path, class:"nav-link link-secondary text-white" do %>
              <i class="fa-solid fa-users"></i>
              Administradores
            <% end %>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex gap-2 align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
            <strong><%= current_admin.email %></strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li>
              <%= link_to destroy_admin_session_path, class: "dropdown-item d-flex align-items-center justify-content-between", data: { "turbo-method": :delete } do %>
                Sair <i class="fa-solid fa-right-from-bracket"></i>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
